@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}


/* Solution */

.header {
  display: flex;
  padding-inline: 10px;
  justify-content: space-between;
}

.header ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style: none;
}

ul a {
  text-decoration: none;
  color: gray;
}

.buttons button {
  margin-top: 8px;
  padding: 5px 8px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  background: lightgray;
}

.footer ul {
  display: flex;
  margin: 0;
  padding: 10px;
  list-style: none;
  gap: 20px;
}