/* Add CSS Styling */
.first-btn,
.second-btn {
    font-family: Helvetica, 'Times New Roman', sans-serif;
    font-size: 28px;
}

.first-btn {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
}

.second-btn {
    background-color: hsl(60, 100%, 50%);
}