body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #141414;
  margin: 16px auto;
}

.title {
  background: #397eac;
}

.content {
  background: #1d85ca;
  margin-bottom: 20px;
}

.button-container {
  background: #1f86ca;
  text-align: center;
  padding: 5px;
}

button {
  display: block;
  margin: 0 auto;
  background: white;
  padding: 10px;
  border: 1px solid #eee;
}